# Xcode
#
# Le dossier des données utilisateur
xcuserdata/

# Schémas de travail générés automatiquement
*.xcscmblueprint

# Dossiers temporaires de Xcode
DerivedData/
build/

# Indexing logs
*.xcworkspace/xcuserdata/

# Archives & Installer
*.ipa
*.dSYM.zip
*.xcarchive

# Environnement de développement (pour la plupart des cas)
.DS_Store
.idea/
*.swp
*.lock
*.xcuserstate

# Swift Package Manager
#
# Paquets de build
.build/

# Paquets téléchargés
Packages/
.swiftpm/
Package.resolved

# CocoaPods
#
# Dossier Pods
Pods/

# Fichier de configuration CocoaPods
Podfile.lock
Podfile

# Carthage
#
# Dossier Carthage
Carthage/Build/

# Fastlane
#
# Logs
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Accio dependency manager
Dependencies/
.accio/

# Other
#
# Évitez de commiter vos fichiers de configuration personnels
*.xcuserdatad
*.xcuserstate
*.swp
*.env

# Ignorer les fichiers .xcodeproj en dehors de ceux nécessaires pour le projet
*.xcodeproj/*/project.xcworkspace/
*.xcodeproj/*/xcuserdata/
*.xcodeproj/*/xcuserdata/**

# Ignorer les fichiers de logs ou autres fichiers temporaires
*.log
*.tmp

# Ignorer les fichiers spécifiques à macOS
*.plist
*.log
*.csv
*.backup
